<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-LeStoreWeb-20180713080831.mdf;Initial Catalog=aspnet-LeStoreWeb-20180713080831;Integrated Security=True"/>
    <add key="LogFolerPath" value="C:/Log"/>
  </appSettings>
</configuration>