# Ignore file with extension
*.pdb
*.suo

# Ignore file with path
LeStoreDAO/bin
LeStoreDAO/obj

LeStoreLibrary/bin
LeStoreLibrary/obj

LeStoreService/bin
LeStoreService/obj

LeStoreWeb/bin
LeStoreWeb/obj


