@using LeStoreWeb.Utils;
@{
    Layout = null;
}
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-left">
        <li class="nav nav-tabs">
            <a href="/">
                Home
            </a>
        </li>

       <li  class="nav nav-tabs">
            <div class="btn-rotate">
                <i class="fas fa-sign-in-alt"></i>
                @if (LeStoreSession.IsLogin())
                {
                    <a href="home/logout">
                        Log out
                    </a>
                }
                else
                {
                    <a href="home/login">
                        <p>
                            Log in
                        </p>
                    </a>
                }

            </div>
        </li>
    </ul>
</div>
